In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py

import warnings
warnings.filterwarnings('ignore')

In [2]:
elon = pd.read_csv("../../data/twitter/elon_main.csv")

In [3]:
elon["Datetime"] = pd.to_datetime(elon["Datetime"], utc=True)

In [4]:
elon.head()

,Datetime,retweets,favorites,text,id,emoji,isreply
0,2019-04-08 19:45:00+00:00,88,1830,doesn’t matter yet whether you have tesla fsd ...,1115340011497447424,NaN,True
1,2019-04-08 19:35:00+00:00,5713,47341,the tesla full self-driving computer now in pr...,1115337505824432128,NaN,False
2,2019-04-07 21:18:00+00:00,75,1201,it will enable video when parked & connected t...,1115001019652378624,NaN,True
3,2019-04-06 18:33:00+00:00,1432,25201,tesla enhanced summon coming out in us next we...,1114597013176246273,NaN,False
4,2019-04-05 02:23:00+00:00,543,6092,that’s exactly the idea. what’s not well under...,1113990464984813568,NaN,True

In [5]:
elon.shape

(772, 7)

In [6]:
comments = pd.read_hdf("../../data/features/2019_04_21_picklehourlycomments_Pa.hdf5",key='table')

,retweets,favorites,sentimental,subjectivity,countComment,posCommentAmount,negCommentAmount,neuCommentAmount,posCommentSum,negCommentSum,neuCommentSum,retweets/10000,favorites/10000
hourly,,,,,,,,,,,,,
2017-02-01 00:00:00,0,2,0,5,16,7,3,6,1.138393,-0.690873,0.0,0.0000,0.0002
2017-02-01 01:00:00,0,1,0,4,11,3,5,3,0.675000,-1.408333,0.0,0.0000,0.0001
2017-02-01 02:00:00,0,1,1,3,15,6,2,7,1.328030,-0.269444,0.0,0.0000,0.0001
2017-02-01 03:00:00,0,1,0,1,8,3,1,4,0.628093,-0.350000,0.0,0.0000,0.0001
2017-02-01 04:00:00,6,6,1,3,14,7,2,5,1.791369,-0.316667,0.0,0.0006,0.0006

In [40]:
for i, row in elon.iterrows():
    start_datetime = row.Datetime
    end_datetime = row.Datetime + pd.DateOffset(hours=0.5)
    
    tweet_id = row['id']
    
    start_month, start_year = "0" + str(start_datetime.month), start_datetime.year
    end_month, end_year = "0" + str(end_datetime.month), end_datetime.year
    
    file1 = "../../data/Comment_to_Elon/to_Elon_" + str(start_year) + "-" + start_month[-2:] + ".csv"
    file2 = "../../data/Comment_to_Elon/to_Elon_" + str(end_year) + "-" + end_month[-2:] + ".csv"
    
    if file1 == file2:
        
        comments = pd.read_csv(file1, sep=";", error_bad_lines=False) 
    
    else:
        comments1 = pd.read_csv(file1, sep=";", error_bad_lines=False)
        comments2 = pd.read_csv(file2, sep=";", error_bad_lines=False)
        comments = comments1.append(comments2)
        
    subset_df = comments[comments['origin']==np.float64(tweet_id)]
    
    if subset_df.shape[0] != 0:
        print(tweet_id)
        
        break

b'Skipping line 5406: expected 14 fields, saw 16\nSkipping line 6936: expected 14 fields, saw 15\nSkipping line 9298: expected 14 fields, saw 15\nSkipping line 11070: expected 14 fields, saw 15\nSkipping line 11867: expected 14 fields, saw 15\nSkipping line 26355: expected 14 fields, saw 15\nSkipping line 38453: expected 14 fields, saw 15\nSkipping line 41855: expected 14 fields, saw 16\nSkipping line 46447: expected 14 fields, saw 15\n'
b'Skipping line 5406: expected 14 fields, saw 16\nSkipping line 6936: expected 14 fields, saw 15\nSkipping line 9298: expected 14 fields, saw 15\nSkipping line 11070: expected 14 fields, saw 15\nSkipping line 11867: expected 14 fields, saw 15\nSkipping line 26355: expected 14 fields, saw 15\nSkipping line 38453: expected 14 fields, saw 15\nSkipping line 41855: expected 14 fields, saw 16\nSkipping line 46447: expected 14 fields, saw 15\n'

1115337505824432128

In [41]:
subset_df.head()

,username,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink,emoji,isreply,replyto,origin
110,NaN,2019-04-14 23:49,0,1,Man I love these cars and never been in one lol,NaN,NaN,NaN,1117575631376670721,https://twitter.com/that_loganguy/status/11175...,NaN,True,elonmusk,1.115338e+18
1858,NaN,2019-04-14 22:46,0,0,But can it run doom?,NaN,NaN,NaN,1117559906603659264,https://twitter.com/Shn45718080/status/1117559...,NaN,True,elonmusk,1.115338e+18
2013,NaN,2019-04-14 22:36,0,1,Hey @ elonmusk - just bought a @ Tesla Model 3...,NaN,@ @,NaN,1117557381494394881,https://twitter.com/benpsnyder/status/11175573...,NaN,True,elonmusk,1.115338e+18
2757,NaN,2019-04-14 22:19,0,0,@ elonmusk Are you consider to use solid state...,NaN,@ @,NaN,1117552867508879360,https://twitter.com/iammeetjoshi/status/111755...,NaN,True,elonmusk,1.115338e+18
6187,NaN,2019-04-14 06:59,0,0,Look forward to see my FSD purchase in Finland...,NaN,NaN,NaN,1117321479320948737,https://twitter.com/orsila/status/111732147932...,NaN,True,elonmusk,1.115338e+18

In [33]:
type(comments.iloc[0,:]['origin'])

numpy.float64

In [37]:
comments[comments['origin']==np.float64(tweet_id)].shape

(0, 14)

In [18]:
comments2.shape

NameError: name 'comments2' is not defined

In [13]:
comments1.head()

,username,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink,emoji,isreply,replyto,origin
0,NaN,2019-04-14 23:59,0,0,@ elonmuskhttps://twitter.com/business/status/...,NaN,@,NaN,1117578264824942593,https://twitter.com/Facts10000000/status/11175...,NaN,False,NaN,1.117578e+18
1,NaN,2019-04-14 23:59,0,0,"Don’t talk about socks that way, Elon.",NaN,NaN,NaN,1117578238874746885,https://twitter.com/BuhloonMan/status/11175782...,NaN,True,elonmusk,1.117510e+18
2,NaN,2019-04-14 23:59,0,2,Only if they are made out of Americium,NaN,NaN,NaN,1117578233518743554,https://twitter.com/packetwrench/status/111757...,NaN,True,elonmusk,1.117564e+18
3,NaN,2019-04-14 23:59,0,0,plot twist: Elon takes the throne riding into ...,NaN,NaN,NaN,1117578227915132930,https://twitter.com/Dast0us/status/11175782279...,NaN,True,elonmusk,1.117564e+18
4,NaN,2019-04-14 23:59,0,0,Elon!!! Do you even Golf Bruh??? Do you play?,NaN,NaN,NaN,1117578202732482560,https://twitter.com/jy52525/status/11175782027...,NaN,True,elonmusk,1.117564e+18

In [17]:
import pickle

# file = open("../../data/features/2019_04_21_nlp_sentiments_jing.pickle",'rb')
file = open("../../data/features/2019_04_23_nlp_jing_datetime_jeff.pickle",'rb')
# file = open("../../data/features/2019_04_21_Datetime_Jeff.pickle",'rb')

df = pickle.load(file, encoding='utf-8')

df.tail(10)

,Datetime,text,sentiment,subjectivity,retweets,favorites,id,emoji,isreply,year,month,day,date,DayofWeek,Weekend,Time,TradingHour,DayDistance
770,2012-02-10 19:38:00+00:00,tesla model x is 3rd most searched term on goo...,0.130952,0.172619,143,300,168056133708283904,NaN,False,2012,2,10,2012-02-10,4,False,19:38:00,1,0
771,2012-02-10 17:23:00+00:00,tesla model x video http://onforb.es/anzx7a,0.000000,0.000000,48,14,168022238061268993,NaN,False,2012,2,10,2012-02-10,4,False,17:23:00,1,0
772,2012-02-10 16:51:00+00:00,"@ teslasbigfan don't worry, we've got a cool s...",0.350000,0.650000,2,1,168014307009892354,NaN,True,2012,2,10,2012-02-10,4,False,16:51:00,1,0
773,2012-01-28 02:21:00+00:00,the model x unveiling will be webcast live on ...,0.170455,0.416667,113,23,163084140386861056,NaN,False,2012,1,28,2012-01-28,5,True,02:21:00,0,2
774,2012-01-17 22:07:00+00:00,that's not just paranoia (a healthy trait at t...,0.283333,0.500000,17,15,159396536621596672,NaN,False,2012,1,17,2012-01-17,1,False,22:07:00,0,1
775,2012-01-17 17:47:00+00:00,will communicate better in the future. too man...,0.166667,0.414583,23,9,159330976378519552,NaN,False,2012,1,17,2012-01-17,1,False,17:47:00,1,0
776,2012-01-13 05:49:00+00:00,"a tesla roadster just passed the 100,000 mile ...",0.250000,0.333333,52,14,157700726515183616,NaN,False,2012,1,13,2012-01-13,4,False,05:49:00,0,0
777,2012-01-11 02:36:00+00:00,the exec conf room at tesla used to be called ...,0.166667,0.466667,72,342,156927468836630528,NaN,False,2012,1,11,2012-01-11,2,False,02:36:00,0,0
778,2012-01-06 20:09:00+00:00,model s signature series sold out as of todayh...,0.000000,0.000000,51,8,155380533533220864,NaN,False,2012,1,6,2012-01-06,4,False,20:09:00,0,3
779,2011-12-31 13:06:00+00:00,hacked my tesla charge connector on a small is...,-0.125000,0.233333,11,9,153099684280410112,NaN,False,2011,12,31,2011-12-31,5,True,13:06:00,0,2