In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pickle

In [25]:
file = open("../../data/features/2019_04_23_data_mod.pickle",'rb')
df = pickle.load(file, encoding='utf-8')
df.columns

Index(['id', 'Datetime', 'text', 'sentiment', 'subjectivity', 'retweets',
       'favorites', 'emoji', 'isreply', 'replyto', 'origin_x', 'year', 'month',
       'day', 'date', 'DayofWeek', 'Weekend', 'Time', 'TradingHour',
       'DayDistance', 'Time_Difference', 'gtrend', 'origin_y', 'countComment',
       'posCommentAmount', 'negCommentAmount', 'neuCommentAmount',
       'posCommentSum', 'negCommentSum', 'CommentSD', 'posCommentSD',
       'negCommentSD', 'That_hour_volume', 'That_hour_volume_perc',
       'That_hour_residual'],
      dtype='object')

In [35]:
df.shape

(590, 35)

In [26]:
df[['origin_x','origin_y']].head()

       origin_x             origin_y
0  1.117554e+18  1117553530615648256
1  1.116887e+18  1116886883903078401
2  1.117510e+18  1117510077030834176
3  1.116887e+18  1116886883903078401
4  1.117443e+18  1117442574615183362

In [34]:
df[['posCommentAmount', 'negCommentAmount', 'neuCommentAmount',
       'posCommentSum', 'negCommentSum', 'CommentSD', 'posCommentSD',
       'negCommentSD']].head()

,posCommentAmount,negCommentAmount,neuCommentAmount,posCommentSum,negCommentSum,CommentSD,posCommentSD,negCommentSD
0,153,74,500,50.753336,-20.457826,0.211838,0.228215,0.216880
1,63,30,59,18.228486,-4.240006,0.237073,0.234062,0.131819
2,137,89,193,35.958364,-18.382850,0.228340,0.209668,0.194167
3,34,22,47,9.681724,-3.011236,0.212194,0.216935,0.120033
4,62,28,81,20.153503,-5.281033,0.252651,0.241471,0.196370

In [33]:
df['Time_Difference'].describe()

count     590.000000
mean     2017.520339
std         1.070722
min      2015.000000
25%      2017.000000
50%      2018.000000
75%      2018.000000
max      2019.000000
Name: Time_Difference, dtype: float64

In [ ]:
# prepare X and Y

X = df[['sentiment', 'subjectivity', 'emoji', 
        'DayofWeek', 'Weekend', 'TradingHour', 'DayDistance', 
        'gtrend', 
        'countComment', 'CommentSD', 'neuCommentAmount',
        'posCommentAmount', 'posCommentSum', 'posCommentSD',
        'negCommentAmount', 'negCommentSum',  'negCommentSD']]

Y = df['That_hour_volume', 'That_hour_volume_perc',
       'That_hour_residual']