In [2]:
import pandas as pd
stock = pd.read_csv("../../data/stock_price/TSLA.csv")

In [4]:
stock.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [8]:
# the column 'close' is the same as 'adj close'
stock[stock['Close'] != stock ['Adj Close']].shape

(0, 7)

In [10]:
stock.drop('Adj Close', axis = 1, inplace = True)

In [11]:
elon = pd.read_csv("../../data/twitter/elon_clean.csv")

In [12]:
elon.head()

,username,date,retweets,favorites,text,mentions,hashtags,permalink
0,elonmusk,2019-04-02 20:38,993,9263,Dogecoin value may vary https://www. theonion....,NaN,NaN,https://twitter.com/elonmusk/status/1113178951...
1,elonmusk,2019-04-02 20:16,7238,55271,Dogecoin rulz pic.twitter.com/flWWUgAgLU,NaN,NaN,https://twitter.com/elonmusk/status/1113173498...
2,elonmusk,2019-04-02 19:40,368,9159,Uh oh,NaN,NaN,https://twitter.com/elonmusk/status/1113164389...
3,elonmusk,2019-04-02 09:24,1317,6176,Dogecoin might be my fav cryptocurrency. It’s ...,NaN,NaN,https://twitter.com/elonmusk/status/1113009339...
4,elonmusk,2019-04-02 09:21,1557,26925,Yup https:// twitter.com/nasa/status/11 128601...,NaN,NaN,https://twitter.com/elonmusk/status/1113008497...

In [28]:
elon_date = elon['date'].str[:-6].unique().tolist()

In [29]:
elon_date

['2019-04-02',
 '2019-04-01',
 '2019-03-31',
 '2019-03-30',
 '2019-03-29',
 '2019-03-28',
 '2019-03-27',
 '2019-03-26',
 '2019-03-25',
 '2019-03-24',
 '2019-03-22',
 '2019-03-21',
 '2019-03-20',
 '2019-03-17',
 '2019-03-16',
 '2019-03-15',
 '2019-03-14',
 '2019-03-13',
 '2019-03-12',
 '2019-03-11',
 '2019-03-09',
 '2019-03-08',
 '2019-03-07',
 '2019-03-06',
 '2019-03-05',
 '2019-03-04',
 '2019-03-03',
 '2019-03-02',
 '2019-03-01',
 '2019-02-28',
 '2019-02-27',
 '2019-02-26',
 '2019-02-25',
 '2019-02-23',
 '2019-02-22',
 '2019-02-21',
 '2019-02-20',
 '2019-02-19',
 '2019-02-18',
 '2019-02-17',
 '2019-02-16',
 '2019-02-15',
 '2019-02-14',
 '2019-02-13',
 '2019-02-12',
 '2019-02-11',
 '2019-02-10',
 '2019-02-09',
 '2019-02-08',
 '2019-02-07',
 '2019-02-06',
 '2019-02-05',
 '2019-02-04',
 '2019-02-03',
 '2019-02-02',
 '2019-02-01',
 '2019-01-31',
 '2019-01-30',
 '2019-01-29',
 '2019-01-28',
 '2019-01-27',
 '2019-01-26',
 '2019-01-25',
 '2019-01-23',
 '2019-01-22',
 '2019-01-21',
 '2019-01-19',
 '2019-01-18',
 '2019-01-17',
 '2019-01-16',
 '2019-01-15',
 '2019-01-14',
 '2019-01-13',
 '2019-01-12',
 '2019-01-11',
 '2019-01-10',
 '2019-01-09',
 '2019-01-08',
 '2019-01-07',
 '2019-01-06',
 '2019-01-05',
 '2019-01-04',
 '2019-01-03',
 '2019-01-01',
 '2018-12-31',
 '2018-12-30',
 '2018-12-28',
 '2018-12-27',
 '2018-12-26',
 '2018-12-25',
 '2018-12-24',
 '2018-12-23',
 '2018-12-22',
 '2018-12-21',
 '2018-12-20',
 '2018-12-19',
 '2018-12-18',
 '2018-12-17',
 '2018-12-16',
 '2018-12-15',
 '2018-12-14',
 '2018-12-13',
 '2018-12-12',
 '2018-12-11',
 '2018-12-09',
 '2018-12-08',
 '2018-12-07',
 '2018-12-05',
 '2018-12-04',
 '2018-12-03',
 '2018-12-02',
 '2018-12-01',
 '2018-11-30',
 '2018-11-29',
 '2018-11-28',
 '2018-11-27',
 '2018-11-26',
 '2018-11-25',
 '2018-11-23',
 '2018-11-22',
 '2018-11-21',
 '2018-11-20',
 '2018-11-19',
 '2018-11-17',
 '2018-11-16',
 '2018-11-15',
 '2018-11-14',
 '2018-11-12',
 '2018-11-11',
 '2018-11-10',
 '2018-11-09',
 '2018-11-08',
 '2018-11-07',
 '2018-11-06',
 '2018-11-03',
 '2018-11-02',
 '2018-11-01',
 '2018-10-31',
 '2018-10-29',
 '2018-10-27',
 '2018-10-26',
 '2018-10-25',
 '2018-10-23',
 '2018-10-22',
 '2018-10-21',
 '2018-10-20',
 '2018-10-19',
 '2018-10-18',
 '2018-10-17',
 '2018-10-16',
 '2018-10-15',
 '2018-10-14',
 '2018-10-13',
 '2018-10-12',
 '2018-10-11',
 '2018-10-10',
 '2018-10-09',
 '2018-10-08',
 '2018-10-07',
 '2018-10-06',
 '2018-10-05',
 '2018-10-04',
 '2018-10-02',
 '2018-10-01',
 '2018-09-29',
 '2018-09-28',
 '2018-09-26',
 '2018-09-25',
 '2018-09-24',
 '2018-09-22',
 '2018-09-21',
 '2018-09-20',
 '2018-09-19',
 '2018-09-18',
 '2018-09-17',
 '2018-09-16',
 '2018-09-15',
 '2018-09-14',
 '2018-09-13',
 '2018-09-12',
 '2018-09-11',
 '2018-09-08',
 '2018-09-07',
 '2018-09-06',
 '2018-09-05',
 '2018-09-03',
 '2018-08-31',
 '2018-08-30',
 '2018-08-29',
 '2018-08-28',
 '2018-08-27',
 '2018-08-26',
 '2018-08-25',
 '2018-08-24',
 '2018-08-23',
 '2018-08-22',
 '2018-08-21',
 '2018-08-19',
 '2018-08-18',
 '2018-08-16',
 '2018-08-14',
 '2018-08-13',
 '2018-08-12',
 '2018-08-11',
 '2018-08-10',
 '2018-08-08',
 '2018-08-07',
 '2018-08-06',
 '2018-08-05',
 '2018-08-04',
 '2018-08-02',
 '2018-08-01',
 '2018-07-31',
 '2018-07-30',
 '2018-07-29',
 '2018-07-28',
 '2018-07-27',
 '2018-07-26',
 '2018-07-25',
 '2018-07-24',
 '2018-07-23',
 '2018-07-22',
 '2018-07-21',
 '2018-07-20',
 '2018-07-18',
 '2018-07-17',
 '2018-07-15',
 '2018-07-14',
 '2018-07-13',
 '2018-07-12',
 '2018-07-11',
 '2018-07-10',
 '2018-07-09',
 '2018-07-08',
 '2018-07-07',
 '2018-07-06',
 '2018-07-05',
 '2018-07-04',
 '2018-07-03',
 '2018-07-02',
 '2018-07-01',
 '2018-06-30',
 '2018-06-29',
 '2018-06-28',
 '2018-06-27',
 '2018-06-26',
 '2018-06-25',
 '2018-06-24',
 '2018-06-23',
 '2018-06-22',
 '2018-06-21',
 '2018-06-20',
 '2018-06-19',
 '2018-06-18',
 '2018-06-17',
 '2018-06-16',
 '2018-06-15',
 '2018-06-14',
 '2018-06-13',
 '2018-06-12',
 '2018-06-11',
 '2018-06-10',
 '2018-06-09',
 '2018-06-08',
 '2018-06-07',
 '2018-06-06',
 '2018-06-05',
 '2018-06-04',
 '2018-06-03',
 '2018-06-02',
 '2018-06-01',
 '2018-05-31',
 '2018-05-30',
 '2018-05-29',
 '2018-05-28',
 '2018-05-27',
 '2018-05-26',
 '2018-05-25',
 '2018-05-24',
 '2018-05-23',
 '2018-05-22',
 '2018-05-21',
 '2018-05-20',
 '2018-05-19',
 '2018-05-18',
 '2018-05-17',
 '2018-05-16',
 '2018-05-14',
 '2018-05-13',
 '2018-05-12',
 '2018-05-11',
 '2018-05-10',
 '2018-05-09',
 '2018-05-08',
 '2018-05-07',
 '2018-05-06',
 '2018-05-05',
 '2018-05-04',
 '2018-05-03',
 '2018-05-02',
 '2018-05-01',
 '2018-04-30',
 '2018-04-28',
 '2018-04-27',
 '2018-04-26',
 '2018-04-25',
 '2018-04-23',
 '2018-04-18',
 '2018-04-17',
 '2018-04-16',
 '2018-04-15',
 '2018-04-13',
 '2018-04-12',
 '2018-04-11',
 '2018-04-10',
 '2018-04-09',
 '2018-04-08',
 '2018-04-07',
 '2018-04-06',
 '2018-04-05',
 '2018-04-04',
 '2018-04-02',
 '2018-04-01',
 '2018-03-31',
 '2018-03-30',
 '2018-03-28',
 '2018-03-27',
 '2018-03-26',
 '2018-03-25',
 '2018-03-24',
 '2018-03-23',
 '2018-03-22',
 '2018-03-21',
 '2018-03-20',
 '2018-03-19',
 '2018-03-18',
 '2018-03-15',
 '2018-03-14',
 '2018-03-12',
 '2018-03-11',
 '2018-03-10',
 '2018-03-09',
 '2018-03-08',
 '2018-03-07',
 '2018-03-06',
 '2018-03-05',
 '2018-03-04',
 '2018-03-03',
 '2018-02-28',
 '2018-02-27',
 '2018-02-25',
 '2018-02-24',
 '2018-02-22',
 '2018-02-21',
 '2018-02-20',
 '2018-02-18',
 '2018-02-17',
 '2018-02-16',
 '2018-02-12',
 '2018-02-11',
 '2018-02-07',
 '2018-02-06',
 '2018-02-05',
 '2018-02-04',
 '2018-02-03',
 '2018-02-02',
 '2018-02-01',
 '2018-01-31',
 '2018-01-30',
 '2018-01-29',
 '2018-01-28',
 '2018-01-27',
 '2018-01-24',
 '2018-01-18',
 '2018-01-15',
 '2018-01-13',
 '2018-01-12',
 '2018-01-09',
 '2018-01-08',
 '2018-01-07',
 '2018-01-05',
 '2018-01-03',
 '2017-12-27',
 '2017-12-26',
 '2017-12-25',
 '2017-12-24',
 '2017-12-23',
 '2017-12-21',
 '2017-12-20',
 '2017-12-19',
 '2017-12-17',
 '2017-12-16',
 '2017-12-15',
 '2017-12-14',
 '2017-12-13',
 '2017-12-12',
 '2017-12-11',
 '2017-12-08',
 '2017-12-07',
 '2017-12-03',
 '2017-12-02',
 '2017-11-30',
 '2017-11-28',
 '2017-11-27',
 '2017-11-26',
 '2017-11-25',
 '2017-11-24',
 '2017-11-23',
 '2017-11-21',
 '2017-11-20',
 '2017-11-19',
 '2017-11-17',
 '2017-11-15',
 '2017-11-13',
 '2017-11-12',
 '2017-11-10',
 '2017-11-09',
 '2017-11-08',
 '2017-11-07',
 '2017-10-28',
 '2017-10-26',
 '2017-10-24',
 '2017-10-21',
 '2017-10-20',
 '2017-10-19',
 '2017-10-18',
 '2017-10-16',
 '2017-10-15',
 '2017-10-14',
 '2017-10-12',
 '2017-10-11',
 '2017-10-09',
 '2017-10-08',
 '2017-10-07',
 '2017-10-06',
 '2017-10-05',
 '2017-10-04',
 '2017-10-02',
 '2017-09-29',
 '2017-09-28',
 '2017-09-27',
 '2017-09-26',
 '2017-09-25',
 '2017-09-24',
 '2017-09-20',
 '2017-09-19',
 '2017-09-16',
 '2017-09-15',
 '2017-09-14',
 '2017-09-13',
 '2017-09-12',
 '2017-09-08',
 '2017-09-04',
 '2017-08-31',
 '2017-08-30',
 '2017-08-29',
 '2017-08-28',
 '2017-08-27',
 '2017-08-26',
 '2017-08-25',
 '2017-08-23',
 '2017-08-22',
 '2017-08-21',
 '2017-08-20',
 '2017-08-19',
 '2017-08-18',
 '2017-08-14',
 '2017-08-13',
 '2017-08-12',
 '2017-08-11',
 '2017-08-10',
 '2017-08-06',
 '2017-08-05',
 '2017-08-04',
 '2017-08-03',
 '2017-08-02',
 '2017-08-01',
 '2017-07-31',
 '2017-07-30',
 '2017-07-29',
 '2017-07-28',
 '2017-07-27',
 '2017-07-26',
 '2017-07-25',
 '2017-07-22',
 '2017-07-21',
 '2017-07-20',
 '2017-07-19',
 '2017-07-17',
 '2017-07-15',
 '2017-07-14',
 '2017-07-13',
 '2017-07-12',
 '2017-07-11',
 '2017-07-09',
 '2017-07-08',
 '2017-07-07',
 '2017-07-06',
 '2017-07-05',
 '2017-07-04',
 '2017-07-03',
 '2017-07-02',
 '2017-06-30',
 '2017-06-29',
 '2017-06-28',
 '2017-06-26',
 '2017-06-25',
 '2017-06-24',
 '2017-06-23',
 '2017-06-22',
 '2017-06-21',
 '2017-06-20',
 '2017-06-19',
 '2017-06-18',
 '2017-06-17',
 '2017-06-16',
 '2017-06-14',
 '2017-06-13',
 '2017-06-11',
 '2017-06-10',
 '2017-06-09',
 '2017-06-08',
 '2017-06-07',
 '2017-06-06',
 '2017-06-05',
 '2017-06-04',
 '2017-06-03',
 '2017-06-02',
 '2017-06-01',
 '2017-05-31',
 '2017-05-29',
 '2017-05-27',
 '2017-05-26',
 '2017-05-25',
 '2017-05-24',
 '2017-05-23',
 '2017-05-22',
 '2017-05-21',
 '2017-05-19',
 '2017-05-17',
 '2017-05-16',
 '2017-05-14',
 '2017-05-13',
 '2017-05-12',
 '2017-05-11',
 '2017-05-10',
 '2017-05-09',
 '2017-05-07',
 '2017-05-05',
 '2017-05-04',
 '2017-05-01',
 '2017-04-28',
 '2017-04-27',
 '2017-04-24',
 '2017-04-23',
 '2017-04-18',
 '2017-04-17',
 '2017-04-13',
 '2017-04-12',
 '2017-04-07',
 '2017-04-05',
 '2017-04-03',
 '2017-04-02',
 '2017-04-01',
 '2017-03-31',
 '2017-03-30',
 '2017-03-29',
 '2017-03-28',
 '2017-03-24',
 '2017-03-23',
 '2017-03-22',
 '2017-03-16',
 '2017-03-14',
 '2017-03-13',
 '2017-03-12',
 '2017-03-11',
 '2017-03-10',
 '2017-03-06',
 '2017-03-02',
 '2017-02-28',
 '2017-02-27',
 '2017-02-25',
 '2017-02-24',
 '2017-02-23',
 '2017-02-19',
 '2017-02-18',
 '2017-02-17',
 '2017-02-16',
 '2017-02-15',
 '2017-02-11',
 '2017-02-10',
 '2017-02-09',
 '2017-02-08',
 '2017-02-07',
 '2017-02-05',
 '2017-02-04',
 '2017-02-03',
 '2017-02-02',
 '2017-01-31',
 '2017-01-30',
 '2017-01-29',
 '2017-01-28',
 '2017-01-27',
 '2017-01-25',
 '2017-01-24',
 '2017-01-23',
 '2017-01-22',
 '2017-01-21',
 '2017-01-19',
 '2017-01-18',
 '2017-01-16',
 '2017-01-15',
 '2017-01-14',
 '2017-01-12',
 '2017-01-11',
 '2017-01-10',
 '2017-01-08',
 '2017-01-07',
 '2017-01-06',
 '2017-01-05',
 '2016-12-31',
 '2016-12-30',
 '2016-12-24',
 '2016-12-23',
 '2016-12-22',
 '2016-12-21',
 '2016-12-18',
 '2016-12-17',
 '2016-12-11',
 '2016-12-09',
 '2016-12-08',
 '2016-12-07',
 '2016-12-01',
 '2016-11-27',
 '2016-11-23',
 '2016-11-22',
 '2016-11-19',
 '2016-11-18',
 '2016-11-17',
 '2016-11-16',
 '2016-11-15',
 '2016-11-07',
 '2016-11-06',
 '2016-11-05',
 '2016-11-04',
 '2016-11-03',
 '2016-11-02',
 '2016-10-29',
 '2016-10-27',
 '2016-10-26',
 '2016-10-24',
 '2016-10-23',
 '2016-10-22',
 '2016-10-20',
 '2016-10-19',
 '2016-10-18',
 '2016-10-16',
 '2016-10-13',
 '2016-10-10',
 '2016-10-09',
 '2016-10-07',
 '2016-10-06',
 '2016-10-05',
 '2016-10-04',
 '2016-10-02',
 '2016-10-01',
 '2016-09-28',
 '2016-09-27',
 '2016-09-26',
 '2016-09-23',
 '2016-09-22',
 '2016-09-21',
 '2016-09-19',
 '2016-09-18',
 '2016-09-17',
 '2016-09-16',
 '2016-09-13',
 '2016-09-10',
 '2016-09-09',
 '2016-09-01',
 '2016-08-31',
 '2016-08-30',
 '2016-08-28',
 '2016-08-23',
 '2016-08-22',
 '2016-08-15',
 '2016-08-14',
 '2016-08-11',
 '2016-08-10',
 '2016-08-09',
 '2016-08-07',
 '2016-08-01',
 '2016-07-31',
 '2016-07-30',
 '2016-07-29',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-25',
 '2016-07-23',
 '2016-07-22',
 '2016-07-21',
 '2016-07-20',
 '2016-07-19',
 '2016-07-18',
 '2016-07-17',
 '2016-07-16',
 '2016-07-15',
 '2016-07-14',
 '2016-07-13',
 '2016-07-12',
 '2016-07-10',
 '2016-07-09',
 '2016-07-08',
 '2016-07-06',
 '2016-07-05',
 '2016-06-30',
 '2016-06-29',
 '2016-06-28',
 '2016-06-27',
 '2016-06-22',
 '2016-06-20',
 '2016-06-19',
 '2016-06-17',
 '2016-06-15',
 '2016-06-12',
 '2016-06-11',
 '2016-06-10',
 '2016-06-09',
 '2016-06-08',
 '2016-06-07',
 '2016-06-06',
 '2016-06-05',
 '2016-06-04',
 '2016-06-03',
 '2016-06-02',
 '2016-06-01',
 '2016-05-30',
 '2016-05-29',
 '2016-05-28',
 '2016-05-27',
 '2016-05-26',
 '2016-05-25',
 '2016-05-22',
 '2016-05-19',
 '2016-05-18',
 '2016-05-17',
 '2016-05-16',
 '2016-05-15',
 '2016-05-14',
 '2016-05-12',
 '2016-05-10',
 '2016-05-07',
 '2016-05-06',
 '2016-05-05',
 '2016-05-02',
 '2016-05-01',
 '2016-04-30',
 '2016-04-29',
 '2016-04-27',
 '2016-04-24',
 '2016-04-20',
 '2016-04-18',
 '2016-04-17',
 '2016-04-14',
 '2016-04-11',
 '2016-04-10',
 '2016-04-09',
 '2016-04-08',
 '2016-04-07',
 '2016-04-06',
 '2016-04-05',
 '2016-04-04',
 '2016-04-03',
 '2016-04-02',
 '2016-04-01',
 '2016-03-31',
 '2016-03-30',
 '2016-03-29',
 '2016-03-20',
 '2016-03-19',
 '2016-03-18',
 '2016-03-09',
 '2016-03-06',
 '2016-03-05',
 '2016-03-04',
 '2016-03-02',
 '2016-03-01',
 '2016-02-29',
 '2016-02-28',
 '2016-02-27',
 '2016-02-24',
 '2016-02-23',
 '2016-02-21',
 '2016-02-20',
 '2016-02-19',
 '2016-02-18',
 '2016-02-17',
 '2016-02-16',
 '2016-02-11',
 '2016-02-10',
 '2016-02-05',
 '2016-02-03',
 '2016-01-23',
 '2016-01-20',
 '2016-01-19',
 '2016-01-18',
 '2016-01-17',
 '2016-01-16',
 '2016-01-12',
 '2016-01-11',
 '2016-01-10',
 '2016-01-02',
 '2016-01-01',
 '2015-12-22',
 '2015-12-21',
 '2015-12-20',
 '2015-12-19',
 '2015-12-18',
 '2015-12-17',
 '2015-12-11',
 '2015-12-10',
 '2015-12-09',
 '2015-12-06',
 '2015-12-04',
 '2015-12-03',
 '2015-12-02',
 '2015-11-24',
 '2015-11-20',
 '2015-11-08',
 '2015-11-04',
 '2015-11-02',
 '2015-11-01',
 '2015-10-30',
 '2015-10-29',
 '2015-10-27',
 '2015-10-26',
 '2015-10-25',
 '2015-10-23',
 '2015-10-22',
 '2015-10-21',
 '2015-10-19',
 '2015-10-17',
 '2015-10-15',
 '2015-10-14',
 '2015-10-11',
 '2015-10-10',
 '2015-10-09',
 '2015-10-03',
 '2015-10-02',
 '2015-09-30',
 '2015-09-29',
 '2015-09-27',
 '2015-09-25',
 '2015-09-23',
 '2015-09-14',
 '2015-09-13',
 '2015-09-12',
 '2015-09-02',
 '2015-08-22',
 '2015-08-17',
 '2015-08-16',
 '2015-08-08',
 '2015-08-06',
 '2015-07-31',
 '2015-07-30',
 '2015-07-28',
 '2015-07-27',
 '2015-07-18',
 '2015-07-17',
 '2015-07-06',
 '2015-06-29',
 '2015-06-28',
 '2015-06-27',
 '2015-06-23',
 '2015-06-19',
 '2015-06-15',
 '2015-06-12',
 '2015-06-01',
 '2015-05-27',
 '2015-05-22',
 '2015-05-19',
 '2015-05-12',
 '2015-05-06',
 '2015-05-05',
 '2015-05-04',
 '2015-05-03',
 '2015-05-02',
 '2015-05-01',
 '2015-04-30',
 '2015-04-29',
 '2015-04-27',
 '2015-04-23',
 '2015-04-19',
 '2015-04-18',
 '2015-04-15',
 '2015-04-14',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-09',
 '2015-04-06',
 '2015-04-04',
 '2015-04-01',
 '2015-03-31',
 '2015-03-30',
 '2015-03-24',
 '2015-03-23',
 '2015-03-22',
 '2015-03-21',
 '2015-03-18',
 '2015-03-17',
 '2015-03-16',
 '2015-03-15',
 '2015-03-14',
 '2015-03-13',
 '2015-03-12',
 '2015-03-11',
 '2015-03-08',
 '2015-03-07',
 '2015-03-02',
 '2015-02-26',
 '2015-02-24',
 '2015-02-12',
 '2015-02-11',
 '2015-02-10',
 '2015-02-08',
 '2015-01-30',
 '2015-01-29',
 '2015-01-28',
 '2015-01-26',
 '2015-01-23',
 '2015-01-20',
 '2015-01-17',
 '2015-01-16',
 '2015-01-15',
 '2015-01-12',
 '2015-01-11',
 '2015-01-10',
 '2015-01-06',
 '2015-01-05',
 '2014-12-31',
 '2014-12-30',
 '2014-12-26',
 '2014-12-25',
 '2014-12-20',
 '2014-12-19',
 '2014-12-08',
 '2014-11-24',
 '2014-11-23',
 '2014-11-22',
 '2014-11-21',
 '2014-11-19',
 '2014-11-18',
 '2014-11-11',
 '2014-11-07',
 '2014-11-04',
 '2014-10-31',
 '2014-10-28',
 '2014-10-26',
 '2014-10-18',
 '2014-10-17',
 '2014-10-16',
 '2014-10-11',
 '2014-10-09',
 '2014-10-02',
 '2014-09-29',
 '2014-09-20',
 '2014-09-16',
 '2014-09-11',
 '2014-09-10',
 '2014-09-09',
 '2014-09-08',
 '2014-09-07',
 '2014-09-01',
 '2014-08-25',
 '2014-08-23',
 '2014-08-19',
 '2014-08-15',
 '2014-08-05',
 '2014-08-03',
 '2014-07-26',
 '2014-07-23',
 '2014-07-19',
 '2014-07-14',
 '2014-07-10',
 '2014-07-01',
 '2014-06-19',
 '2014-06-17',
 '2014-06-12',
 '2014-06-11',
 '2014-06-04',
 '2014-05-31',
 '2014-05-29',
 '2014-05-25',
 '2014-05-24',
 '2014-05-23',
 '2014-05-22',
 '2014-05-14',
 '2014-05-10',
 ...]

In [ ]:
# direction
# delta of absolute value 
# moving average 
# moving std
# def stock_output(date, t, dataframe)

In [30]:
stock.head()

         Date       Open   High        Low      Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001   6866900